/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
}
body{
    background: #e6f2ff;
    font-size: 0.88rem;
    /* overflow-x: hidden; */
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

/* main box */
.main-box{
    background: #fff;
    display: grid;
    grid-template-columns: 12rem auto;
    width: 97%;
    height: 150vh;
    gap: 1rem;
    margin: 2rem 1.5rem 2rem;
    border-radius: 2rem;
}

/* left side */
aside{
    height: 100vh;
}
aside .top{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
aside .logo{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 1rem;
    gap: 1rem;
}
.logo i{
    color: #3e9bff;
    font-size: 1.7rem;
    cursor: pointer;
}

/* sidebar */
aside .sidebar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-top: 2rem;
    position: relative;
    top: 1rem;
}
aside .sidebar a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7d8da1;
    margin-left: 2rem;
    margin-bottom: 0.1rem;
    gap: 1rem;
    height: 2.5rem;
    transition: all .1s ease-in;
}
aside .sidebar .options{
    display: flex;
    gap: 1rem;
}
.sidebar a.active{
    color: #fff;
    background: #7380ec;
    padding: .8rem;
    border-radius: 10px;
}
.sidebar .options:hover{
    transform: translateX(15px);
    transition: all .1s ease;
}

/* main section */
.main{
    display: flex;
    flex-direction: column;
    background: rgb(254, 247, 255);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    width: 66rem;
    height: 10vh;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* navbar left */
.navbar-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1.5rem;
}

/* navbar right */
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navbar-right-one{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-right-one .ring{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.navbar-right-two{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
}
.navbar-right-two img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-right-two i{
    font-size: 1.8rem;
    color: #4857e2;
    cursor: pointer;
}
.icons{
    font-size: 1.1rem;
    color: #757b84;
    cursor: pointer;
}
.icons:hover{
    scale: 1.2;
}

/* insights */
.insights{
    display: flex;
}

.insights-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

/* revenue & onboarding */
.insights-left .rev-on{
    display: flex;
    flex-direction: row;
    width: 45rem;
}

/* revenue */
.insights-left .revenue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22rem;
    height: 14rem;
    margin-left: 1rem;
    padding: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.revenue-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}
.revenue-items .year{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 6px;
    padding-left: 1.5rem;
}
.profit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(23, 227, 23);
}
.progress{
    font-size: 3rem;
}
.revenue-items .month{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 6px;
    padding-right: 1.5rem;
}
.loss{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(251, 55, 55);
}

/* onboarding status */
.insights-left .onboarding{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 14rem;
    margin-left: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.onboarding .onboarding-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 10rem;
}

/* circle */
 .onboarding-items .circle{
    height: 68px;
    width: 68px;
    border-radius: 50px;
}
.onboarding-items svg{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 2rem;
}
.onboarding-items svg circle{
    fill: none;
    transform: rotate(270,80,80);
    stroke-width: 3px;
}
.onboarding-items svg .c-one{
    stroke: rgb(87, 92, 255);
    stroke-dashoffset: 0;
    stroke-dasharray: 271.24
}
.onboarding-items svg .c-two{
    stroke: orange;
    stroke-dashoffset: 0;
    stroke-dasharray: 138.88;
}
.onboarding-items svg .c-three{
    stroke: cyan;
    stroke-dashoffset: 0;
    stroke-dasharray: 166.52;
}
.onboarding-items .steps{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 2.5rem;
    gap: .5rem;
}
 .onboarding-items .steps .dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
.onboarding-items .steps .steps-list{
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.onboarding-items .steps .step-name{
    display: flex;
    flex-direction: column;
}

/* lead & oppurtinity */
.insights-left .lead{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 44rem;
    height: 30vh;
    margin-left: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.insights-left .lead-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
}
.lead-top button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 8rem;
    padding: 7px;
    background: #fff;
    border: solid 2px #bababa;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    appearance: none;
}
.lead-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 35rem;
}
.lead .value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

/* Task */
.insights-left .task{
    display: flex;
    flex-direction: column;
    width: 44rem;
    height: 55vh;
    background-color: #fff;
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 1.5rem;
    gap: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.task .task-body{
    display: flex;
    flex-direction: column;
    color: #363949;
}
.task .task-body tr{
    height: 2.2rem;
    border-bottom: 2px solid black;
}
.task .task-body .t-head{
    font-size: 0.7rem;
    font-weight: 500;
    border-bottom: 2px solid #a9a9a9;
}
.task .task-body td{
    font-size: 0.65rem;
    font-weight: 400;
    border-bottom: 2px solid #e0e0e0;
}
.task .task-body .type{
    color: #2ea4ff;
}
.task-body .In-progress{
    display: flex;
    justify-content: center;
    color: orange;
    background-color: rgb(246, 246, 90);
    width: 4.5rem;
    height: 1rem;
    border-radius: 2rem;
}

/* calendar */
.insights-right{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 75vh;
    background: #fff;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    gap: 2rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

/* Month */
.insights-right .date{
    display: flex;
    justify-content: space-between;
}
.date .arrow{
    display: flex;
    gap: 1rem;
}
.date .angle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid #9d9d9d;
    border-radius: 2rem;
    cursor: pointer;
}

/* calendar body */
.insights-right .calendar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
 .calendar .c-head{
    display: flex;
    gap: 1rem;
}
.calendar .c-head p:hover{
    font-weight: 600;
    cursor: pointer;
}
.c-body .c-tab{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 10px;
    border-collapse: collapse;
}
.c-body tr{
    height: 1.7rem;
}
.c-body td{
    font-weight: 400;
    cursor: pointer;
}
.c-body td:hover{
    scale: 1.2;
}
.c-body .nine{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #7380ec;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 6px;
    border-radius: 30%;
}

/* MEDIA QUERY TAB VIEW */
@media screen and (max-width:1024px) {
    /* left side */
    .main-box{
        width: 94%;
        height: 230vh;
        grid-template-columns: 7rem auto;
    }
    .top h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    .sidebar .active{
        position: relative;
        right: 1rem;
    }
    .sidebar .options:hover{
        transform: none;
    }

    /* main section */
    .navbar{
        width: 52rem;
    }
    .insights{
        flex-direction: column-reverse;
        align-items: center;
    }
    .insights-right{
        margin-bottom: 1rem;
        width: 22rem;
    }
}

/* MEDIA QUERY PHONE VIEW */
@media screen and (max-width:450px) {
    .main-box{
        width: 94%;
        height: 230vh;
        grid-template-columns: 3rem auto;
    }
    .navbar{
        width: 22rem;
    }
    .navbar h1, .navbar-right h2{
        display: none;
    }
    .insights{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .rev-on{
        position: relative;
        right: 3rem;
        transform: scale(0.8);
        flex-wrap: wrap;
        gap: 1rem;
    }
    .insights-right{
        transform: scale(0.8);
    }
}

/* events */
.insights-right .events{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.events .team, .zoom{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.events-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
    font-weight: 600;
}
h3{
    font-size: 0.8rem;
    font-weight: 500;
}
h4{
    font-size: 0.78rem;
}
h5{
    font-size: 0.75rem;
    font-weight: 400;
}
small{
    font-size: 0.7rem;
}
p{ 
    font-size: 0.7rem;
    color: #767483;
}